.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .sliderSection {
    width: 100%;
    .slider {
      width: 100%;
      .slide {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  .productsSection {
    width: 80%;
  }
  .brandsSection {
    width: 80%;
    h1{
      color: var(--bg4);
      margin-bottom: 20px;
    }
    .brands {
      .brand {
        a {
          width: 150px;
          width: 150px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          img {
            width: 110px;
            height: 110px;
            object-fit: contain;
            border-radius: 100%;
          }
          p{
            font-weight: 600;
          }
        }
      }
    }
  }
}
