.Header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 33px 100px;
    background-color: var(--bg3);
    .logoContainer{
        width: 200px;
        svg{
            width: 100%;
        }
    }
    .menu{
        display: flex;
        gap: 25px;
        a{
            color: var(--tx2);
            font-size: 18px;
        }
    }
}